
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Webpage Layout</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">

</head>
<body>
    <div class="container">
        <div class="left">
            <div class="block1">
                <script>
                    function changeFile(){
                        console.log(99999);
                    }
                    // 监听文档内容加载完成事件
                    document.addEventListener("DOMContentLoaded", function() {
                        // 获取页面上的文件输入元素
                        const fileInput = document.querySelector('input[type="file"]');
                        // 获取页面上的表单元素
                        const form = document.querySelector('form');
            
                        // 为文件输入元素添加一个事件监听器，监听文件变化事件
                        fileInput.addEventListener('change', function() {
                            // 当文件变化时，自动提交表单
                            form.submit();
                        });
                    });
                </script>
                <form method="post" enctype="multipart/form-data" onchange="changeFile">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                {% if array %}
                    <p>文件已上传</p>
                    <script>
                        window.beatArray = {{ array|safe }};
                        window.beatArrayDenoise = {{ array_denoise|safe }};
                        window.beatArraySeg = {{ array_segment|safe }};
                    </script>
                {% else %}
                    <p>文件未选取</p>
                {% endif %}

            </div>
            <div class="block2">
                <h3>信号去噪</h3>
                <div class="heartBeat">
                    <div>对比图</div>
                    时间：<input type="range" id="timeRange" min="0" max="10" value="0" step="1" />
                    <span id="time">0</span> 秒
                    <canvas id="Denoise_contrast" width="1326px" height="2400px"></canvas>
                </div>
            </div>
            <div class="block3">
                <h3>分析诊断</h3>
                <!-- 将上传的文件经过python函数2处理后显示在页面上 -->
                <canvas id="segment" width="1326px" height="400px"></canvas>
            </div>
        </div>
        <div class="right">
            <div class="block">
                <h3>参数</h3>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>参数</th>
                            <th>I</th>
                            <th>II</th>
                            <th>V1</th>
                            <th>...</th>
                            <th>V6</th>
                        </tr>
                        <tr>
                            <td>QRS</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                        </tr>
                        <tr>
                            <td>RR间期</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                        </tr>
                        <tr>
                            <td>PR间期</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                        </tr>
                        <tr>
                            <td>ST间期</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                            <td>----</td>
                        </tr>
                    </table>
                </div>
                <div class="chart">
                    <!-- Placeholder for chart -->
                    <h3>参数变化</h3>
                </div>
            </div>
            <div class="diagnosis">
                <h3>诊断</h3>
                <p>1. 窦性心动过缓;</p>
                <p>2. 左心室肥厚</p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/heartbeat.js' %}" defer></script>
</body>
</html>


