
* {
    padding: 0;
    margin: 0;
}
.heartBeat {
    width: 1200px;
    height: 2400px;
    background: white;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px dashed #000;
    align-items: stretch; /* 使子元素高度与容器一样高 */
}
.left, .right {
    padding: 10px;
}
.left {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.right {
    flex: 1;
    border-left: 1px dashed #000;
    display: flex;
    flex-direction: column;
}
/* 定义一个块级元素的样式 */
.block1 {
    /* 设置元素边框为1像素的黑色实线 */
    border: 1px solid #000;
    /* 设置元素底部外边距为10像素，用于分隔多个块级元素 */
    margin-bottom: 10px;
    /* 设置元素内部填充为10像素，提供内容与边界的间距 */
    padding: 10px;
    /* 允许元素在容器中灵活伸缩，占据可用空间 */
    /* flex: 1; */
    /* 防止元素内容溢出，添加滚动条以便查看全部内容 */
    overflow: auto;
    height: 100px; /* 假设默认高度是 200px */
}   
.block2 {
    /* 设置元素边框为1像素的黑色实线 */
    border: 1px solid #000;
    /* 设置元素底部外边距为10像素，用于分隔多个块级元素 */
    margin-bottom: 10px;
    /* 设置元素内部填充为10像素，提供内容与边界的间距 */
    padding: 10px;
    /* 防止元素内容溢出，添加滚动条以便查看全部内容 */
    overflow: auto;
    height: 1000px; /* 假设默认高度是 200px */
}   
.block3 {
    /* 设置元素边框为1像素的黑色实线 */
    border: 1px solid #000;
    /* 设置元素底部外边距为10像素，用于分隔多个块级元素 */
    margin-bottom: 10px;
    /* 设置元素内部填充为10像素，提供内容与边界的间距 */
    padding: 10px;
    /* 防止元素内容溢出，添加滚动条以便查看全部内容 */
    overflow: auto;
    height: 200px; /* 假设默认高度是 200px */
    flex-grow: 1; /* 使block2在容器内扩展以填充可用空间 */
}    
.block {
    /* 设置元素边框为1像素的黑色实线 */
    border: 1px solid #000;
    /* 设置元素底部外边距为10像素，用于分隔多个块级元素 */
    margin-bottom: 10px;
    /* 设置元素内部填充为10像素，提供内容与边界的间距 */
    padding: 10px;
    /* 允许元素在容器中灵活伸缩，占据可用空间 */
    flex: 1;
    /* 防止元素内容溢出，添加滚动条以便查看全部内容 */
    overflow: auto;
    height: 200px; /* 假设默认高度是 200px */
}    

.block h3 {
    margin: 0 0 10px;
}
.table-container {
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
}
.chart {
    border: 1px solid #000;
    height: 200px;
    margin-bottom: 10px;
}
.diagnosis {
    border: 1px solid #000;
    padding: 10px;
    flex: 1;
}

/* 加一条css语句，来实现初期隐藏画线以及对span做block显示以及隐藏  */
#celiang {
    position: fixed;
    top: 20px;
    z-index: 5;
    display: none;
}
  
#mouseTip {
    background: red;
    display: none;
    position: absolute;
    pointer-events: none;
}